<!DOCTYPE html>
<html>
  <head>
    <h1>
      URL Shortener Micro-service
    </h1>   
  </head>
  <body>
    <h3>
      create link: https://consolelogreece-urlsms.glitch.me/LINK HERE                
    </h3>
    <h4>
       note: must be in the format https://consolelogreece-urlsms.glitch.me/new/http://www.URLHERE.DOMAIN
    </h4>
    <h5>
      E.G: https://consolelogreece-urlsms.glitch.me/new/https://www.google.com <b>OR</b> https://consolelogreece-urlsms.glitch.me/new/http://www.youtube.com
    </h5>
  </body>
</html>
