<!DOCTYPE html>
<html>

<head>
    <title>ISAL</title>
    <h1>
        Image Search Abstraction Layer Microservice
    </h1>
</head>

<body>
    
        <u class="instruction-title">Search Instructions</u>
        <p class="direction">
            https://consolelogreece-isalms.glitch.me/api/imagesearch/&ltYOUR-SEARCH&gt
        </p>
        <p class="example">
            example: https://consolelogreece-isalms.glitch.me/api/imagesearch/fluffy kittens
        </p>
        <p class="direction">
            for pagination/offset, simply add "?offset=&ltOFFSET&gt"
        </p>
        <p class="example">
            example: https://consolelogreece-isalms.glitch.me/api/imagesearch/fluffy kittens?offset=2
        </p>
        <u class="instruction-title">Get History Instructions</u>   
          <p class="example">
            simply enter use the url: https://consolelogreece-isalms.glitch.me/api/history
        </p>
  

</body>

</html>

<style>
    .direction {
        font-size: 25px;
        margin-top: 20px;
    }

    .example {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .instruction-title {
        font-size: 30px;
        margin: 40px 0px;
    }
</style>